body {
  background-color: #282c34;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app a {
  color: #41a3d0;
}

.app button {
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  background-color: #67686f;
  color: #ffffffc0;
  font-size: 18px;
  border: 2px solid #67686f;
}

.app button:hover {
  background-color: #ffffff78;
}

.app button.secondary {
  background-color: transparent;
  color: #ffffffc0;
}

.app button.secondary:hover {
  background-color: #ffffff18;
}

.app button.size-lg {
  padding: 16px 20px;
  font-size: 20px;
}

.app button:disabled {
  background-color: #484a54;
  border-color: #484a54;
  color: #ffffff38;
}
