.App {
  text-align: center;
}

.App-image {
  height: 300px;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
button:hover {
  cursor: pointer;
  background-color: white;
  color: #282c34;
  border: 1px solid #282c34;
}
button:disabled {
  opacity: 0.5;
  background-color: #282c34;
  color: white;
  border: 1px solid white;
  cursor: not-allowed;
}
input {
  border: 1px solid #282c34;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
